.jumbotron{
    color:black;
    font-family: serif;
    margin-top: 25px;
    
}
.btn{
    color: whitesmoke;
    background-color: turquoise;
    
}
footer{
    padding: 10px 10px 0 10px;
      background-color: yellow;
       margin-bottom: 8px;
      margin-top: 10px;
       color: black;

}

a{
    font-size: 25px;
}
.link{
    color: black;
}
.link:hover{
    color:blueviolet;

}
.navlink{
    color:white
}
.navlink:hover{
    color: violet;
}
nav{
background-color: black;
}
img{
    height: 20vh;
}
 
    